<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../assets/scss/pages/_artist_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/header'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div>
      <div class="banner">
        <div class="artistname">
          <div class="avatar-object-fit">
            <div class="avatar-frame">
              <img src="../assets/images/avatar/avatar5.png" alt="big-hand" style="width:150px">
           </div>
          </div>
          <p style="color:white">　Echelon　</p>
          <input type="button" value="加關注" style="font-size:20px; width:100px; height: 50px;">
        </div>
        <div class="nember">
          <p><span style="color:white">56作品數 ｜ 13已售出</span></p>
        </div>

      </div>
      <div style="margin: 16px 20% 16px 20%;">
        <div class="aboutour">
          <img src="../assets/images/icon/fb.svg" alt="fb" style="width:30px">
          <img src="../assets/images/icon/ins_line.svg" alt="ins" style="width:30px">
          <img src="../assets/images/icon/twitter_line.svg" alt="tw" style="width:30px">
          <div class="block"><p>專注於寫實主義風格，通過精湛的技法和敏銳的觀察力，展現出日常生活中細膩且真實的細節。其作品常以自然、人物與城市景象為題材，透過光影和色彩的巧妙運用，創造出具有強烈感染力的畫面。</p></div>
        </div>
        <div class="bookmark">
          <a href="#featured">精選作品</a>
          <a href="#news">最新情報</a>
          <a href="#portfolio">作品集</a>
        </div>
        <div id="featured" class="block">
            <h2>精選作品</h2>
            <div style="display:flex; justify-content:space-around">
              <div class="featured-photo">
                <img src="../assets/images/product/product18.png" alt="#0034" style="width:200px">
                <p>星空#0034</p>
              </div>
              <div class="featured-photo">
                <img src="../assets/images/product/product11.png" alt="#0077" style="width:200px">
              </div>
              <div class="featured-photo">
                <img src="../assets/images/product/product8.png" alt="#0039" style="width:400px">
              </div>
              <div class="featured-photo">
                <img src="../assets/images/product/product10.png" alt="#0009" style="width:400px">    
              </div>        
          </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <h2>最新情報</h2>
          <div class="carousel-inner">
              <div class="carousel-item active news-photo">
                <img src="../assets/images/new/new1.png" class="d-block w-100" alt="new1">
              </div>
              <div class="carousel-item news-photo">
                <img src="../assets/images/new/new2.png" class="d-block w-100" alt="new2">
              </div>
              <div class="carousel-item news-photo">
                <img src="../assets/images/new/new3.png" class="d-block w-100" alt="new3">
              </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <div id="portfolio" class="block">
          <h2>作品集</h2>
          <div style="display:flex; justify-content:space-around">
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product18.png" class="card-img-top" alt="星空#0034">
              <div class="card-body">
                <p class="card-text">星空 #0034</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product8.png" class="card-img-top" alt="午後#0039">
              <div class="card-body">
                <p class="card-text">午後 #0039</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product10.png" class="card-img-top" alt="遇見艾蜜莉#0009">
              <div class="card-body">
                <p class="card-text">遇見艾蜜莉#0009</p>
              </div>
            </div>
          </div>
          <br>
          <div style="display:flex; justify-content:space-around">
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product11.png" class="card-img-top" alt="台北的雨#0077">
              <div class="card-body">
                <p class="card-text">台北的雨 #0077</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product6.png" class="card-img-top" alt="轉角遇見艾蜜莉#0010">
              <div class="card-body">
                <p class="card-text">轉角遇見艾蜜莉 #0010</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product7.png" class="card-img-top" alt="啟動#0004">
              <div class="card-body">
                <p class="card-text">啟動 #0004</p>
              </div>
            </div>
          </div>
          <br>
          <div style="display:flex; justify-content:space-around">
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product13.png" class="card-img-top" alt="奉獻#0027">
              <div class="card-body">
                <p class="card-text">奉獻 #0027</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product15.png" class="card-img-top" alt="卡比巴拉#0055">
              <div class="card-body">
                <p class="card-text">卡比巴拉 #0055</p>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../assets/images/product/product9.png" class="card-img-top" alt="中秋#0003">
              <div class="card-body">
                <p class="card-text">中秋 #0003</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>